<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="vs_addvendor_vendor_listing_data_source" xsi:type="string">
                    VS\AddVendor\Model\ResourceModel\VendorCollection\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="VS\AddVendor\Model\ResourceModel\VendorCollection\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">vs_add_vendor_table</argument>
            <argument name="resourceModel" xsi:type="string">VS\AddVendor\Model\ResourceModel\VendorResourceModel
            </argument>
        </arguments>
    </virtualType>
</config>
